<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="classpath:applicationContext-resources-test.xml"/>
    <import resource="classpath:cn/javass/point/dao/applicationContext-hibernate.xml"/>
    <import resource="classpath:cn/javass/point/service/applicationContext-service.xml"/>
    <import resource="classpath:cn/javass/point/web/pointShop-admin-servlet.xml"/>
    <import resource="classpath:cn/javass/point/web/pointShop-front-servlet.xml"/>


</beans>